<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">System monitoring dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  mx-auto">
      <li class="nav-item px-4">
        <a class="nav-link" href="#"><i class="fa fa-server"></i> System: <b [ngClass]="{'text-danger' : systemHealth?.status !== 'UP'}">{{systemHealth?.status}}</b></a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="#"><i class="fa fa-database"></i> DB: <b>{{systemHealth?.components.db.details.database}}({{systemHealth?.components.db.status}})</b></a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link " href="#"><i class="fa fa-hdd-o"></i> Disk Space: <b>{{systemHealthDiskSpace}}</b></a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link " href="#"><i class="fa fa-microsoft"></i> Processors:  <b [ngClass]="{'text-danger' : systemCPU?.measurements[0].value < 2}" >{{systemCPU?.measurements[0].value}}</b></a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link " href="#"><i class="fa fa-clock-o"></i> Up time: <b>{{processUpTime}}</b></a>
      </li>
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <button class="btn btn-success my-2 my-sm-0" type="submit">Refresh Data</button>
<!--    </form>-->
  </div>
</nav>
